@keyframes circle {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0);
      opacity: 0;
    }
  }

  
  .oscillating-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    animation: circle 0.8s infinite ease-in-out;
  }
  
  .circle:nth-child(1) {
    animation-delay: 0;
  }
  
  .circle:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .circle:nth-child(3) {
    animation-delay: 0.4s;
  }
  